extends layout

block content
  canvas#back.unselectable
  canvas#front.unselectable
  center
    #show_speed
      span#speed
      | %
  center
    #direction
      #forward Forward
      #reverse Reverse
      #tab
